@media (max-width: 1550px) {   
    .margin_width{
        width: 80%;    
    }
}

@media (max-width: 1400px) {   
    .margin_width{
        width: 90%;    
    }
}
@media (max-width: 1200px) { 
    .margin_width{
        width: 80%;    
    }
    .block_buhOne{    
        max-width: 700px;
    }  
    .block_buhOne_photo_main{    
        grid-template-columns: repeat(2, 1fr);    
    } 
    
    .button{
        display: none;
    }

    .silver{
        display: none;
    }
    
    .footer_block_text_information {
        margin-bottom: 2em;
    }
    
    .footer_block_sale_informatio_90_main a{
        display: inherit;
        color: var(--dark-blue-color);
        width: calc(100%/3);
        
    }  

    .block_buhOne_photo_text {
        justify-content: flex-end;        
    }
    .block_buhOne_information {
        width: 80%;
        height: 30%;
        
    }

    .header_menu{justify-content: flex-start;}    

    .header_menu_button{
        display: none;
    }

    .header_nav{
        display: none;
    }

    .hidden_menu{
        display: inherit;
        position: fixed;        
    }

    #menu__toggle {
        opacity: 0;
    }
    
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 80px;
        width: 40px;
        height: 50px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;        
        background-color: black;
    }

    .menu__btn > span::before {
        content: '';
        top: -12px;
    }
      
    .menu__btn > span::after {
        content: '';
        top: 12px;
    }
    
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: var(--silver-color);
        box-shadow: 1px 0px 10px var(--blue-color);
    }
      
    .hidden_menu_li {
        display: block;
        padding: 12px 24px;
        color: var(--dark-blue-color);        
        font-size: 24px;
        font-weight: 900;
        text-decoration: none;
        text-transform: uppercase;
    }

    .hidden_menu_li:hover {
        background-color: var(--blue-color);
    }
      
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
      
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
      
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
      
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        right: 0;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      transition-duration: .30s;
    }

    .menu__box {
      transition-duration: .30s;
    }
    
    .hidden_menu_li {
      transition-duration: .30s;
    }
    
    .footer_block_sale_information{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);    
        width: 100%;
    }    
    
    .footer_block_sale_informatio_90 {    
        flex-direction: row;
        justify-content: space-between;
    }
    
    .footer_block {
        display: flex;
        flex-direction: column;
    }

    .footer_block_text {
        width: 100%;
    }

    .footer_block_text_main{
        width: 50%;
    }
}

@media (max-width: 800px) {
   
    .margin_width{
        width: 80%;
        margin: auto;
    }

    .block_buhOne_photo_main{    
        grid-template-columns: repeat(1, 1fr);      
    }   

    .informatio_90 {
        width: calc(100%/3);
        
    }

    .informatio_90_text {
        width: calc(100%/3);
        
    }

    .block_buhOne_photo{ 
        min-height: 360px;
        min-width: 618px;
    }
    .button{
        display: none;
    }

    .silver{
        display: none;
    }
    
    .footer_block_text_information {
        margin-bottom: 2em;
    }
    
    .footer_block_sale_informatio_90_main a{
        display: inherit;
        color: var(--dark-blue-color);
        width: calc(100%/3);
        
    }  

    .block_buhOne_photo_text {
        justify-content: flex-end;        
    }
    .block_buhOne_information {
        width: 80%;
        height: 30%;
        
    }

    .header_menu{
        justify-content: flex-start;
    }   

}