
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

*{
    font-family: 'Prata', serif;
    padding: 0;
    margin: 0;
    border: 0;
    
}

:root{
    --blue-color:rgba(0, 95, 163, 0.65); 
    --dark-blue-color: rgba(0, 95, 163, 1);
    --silver-color:rgba(235, 235, 235, 1);
    --white-color:rgba(255, 255, 255, 1);  
}

.margin_width{
    width: 60%;
    margin: auto;
}

.header{
    height: 100px;       
}
.header_menu{    
    height: 100%;     
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-top: 2em;
}

.header_logo{
    height: 100%;
    width: 25%;    
}

.header_nav{
    height: 100%;
    width: 50%;
    padding-top: 0.8em;
}

.header_menu_ul{
    width: auto;
    height: auto;  
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.header_menu_li{
    text-transform: uppercase;
    font-size: 14px;    
    font-weight: 700;
}

.header_menu_button{
    width: 25%;  
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start; 
}

.header_menu_button
.button{    
    font-size: 14px;    
    font-weight: 700;
    color: black;
    border-color: black;   
}

.button{
    background-color: transparent;
    border: 2px solid var(--white-color);
    border-radius: 25px;
    color: var(--white-color);
    padding: 1em 2em;       
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.main{
   height: 80%;   
   background-color: var(--silver-color);
   padding: 8em 0;  
}
.block{    
    height: 100%;         
}
.block_buhOne{    
    height: 100%;
}
.block_buhOne_information_main{
    height: 30%;    
    display: flex;
    flex-direction: column; 
}

.silver{
 color: #BDBDBD; 
}
 
.small_text{
    font-size: 24px;    
    font-weight: 900;
}

.big_text{
    font-size: 48px;
    font-weight: 900;
    margin-top: 1em;
    margin-bottom: 1em; 
}

.block_buhOne_information{
    width: 55%;
    color: rgba(255, 255, 255, 1);
    word-wrap: break-word;
}

.block_buhOne_photo_text
button{
    width: 50%;
}

.block_buhOne_photo_main{
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    grid-auto-rows: minmax (150px, auto);
    grid-gap: 2em;
    justify-items: center;   
}

.block_buhOne_photo{      
    background: no-repeat url(/img/Rectangle\ 2.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.65);   
    height: 360px;
    width: 350px;
}

.block_buhOne_photo_text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: space-around;    
    align-items: center;     
}

.block_buhOne_photo_text:hover{
    background-color: var(--blue-color);
}

.footer{
    height: 100%;
    margin: 8em auto;
}

.footer_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_block_text{
    width: 40%;
}

.footer_block_sale_information{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 255px);
    grid-template-rows: repeat(2, 255px);        
    grid-gap: 2em;   
}

.blue_text{
    color: var(--dark-blue-color);         
}

.footer_block_sale_informatio_90{
    background-color: var(--silver-color); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.footer_block_sale_informatio_90:hover{
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    border-color: var(--white-color);
}

.blue_button:hover{
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    border-color: var(--white-color);
}

.footer_block_sale_informatio_90_main{
    width: 100%;   
    margin: 2em;
}

.informatio_90{
    width: 100%;
    height: calc(100%/3);
    font-size: 50px;
    font-weight: 900;
}

.informatio_90_text{
    width: 70%;
    height: calc(100%/3);
    font-size: 14px;
    font-weight: 700;
    margin: 0.5em;
}

.blue_button{    
    color: var(--dark-blue-color); 
    border-color: var(--dark-blue-color);    
}

.footer_block_text_information{
    font-size: 18px;
    font-weight: 300;
}

.footer_block_sale_informatio_90_main a{
    display: none;
}
